body {
  margin: 0;
  padding: 0;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
  width: 100vw;
  margin-top: 20vh;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 20vh;
}

.button {
  padding: 10px 20px;
  margin: 0 10px;
  width: 200px;
  font-size: 16px;
  text-align: center;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.register-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.register-container p {
  margin-right: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
}

.input {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.custom-select {
  position: relative;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 30px 5px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
  position: relative;
}

.select::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000; /* Adjust arrow color as needed */
}